/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/03/2014, 02:02:52 AM
    Author     : root
*/

html, body
        {
        background-color: #333;
        
        }
.cad #paper{
	/*1245*0.618*/
	width:600px;
	height:700px;
	border: 1px solid #000000;
	position:relative;
	top:0;
	left:0;
	cursor:crosshair;
        background-color: red;
}
.cad #paper2{
	/*1245*0.618*/
	width:800px;
	height:30px;
	border: 1px solid #000000;
	position:relative;
	top:0;
	left:0;
        background-color: #BDBDBD;
}
.cad #titulo{
	
	width:800px;
	height:50px;
        color: white;
        text-align: center;
        font-size:36px;
	position:relative;
	top:0;
	left:0;
}

