/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/03/2014, 02:02:52 AM
    Author     : root
*/

html, body
        {
        background-color: #333;
        
        }
.cad #paper{
	/*1245*0.618*/
	width:800px;
	height:50px;
	border: 1px solid #000000;
	position:relative;
	top:0;
	left:0;
	cursor:crosshair;
        background-color: black;
}
.cad #paper2{
	/*1245*0.618*/
	width:800px;
	height:34px;
	border: 1px solid #000000;
	position:relative;
	top:0;
	left:0;
        background-color: #BDBDBD;
}
.cad #titulo{
	
	width:800px;
	height:50px;
        border: 1px solid #000000;
        color: white;
        text-align: center;
        font-size:36px;
	position:relative;
	top:0;
	left:0;
}

#comandos {
    
    margin: auto;
    position: absolute;
    top: 0%;
    left: 0%;
    margin-top: 60px;   /* height/2 = 500px / 2 */
    margin-left: 850px;  
    border-radius: 20px;
     
}
textarea{
    background:#6E6E6E;
    border-radius: 2px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: white;
    text-align: left;
}

